/* здесь используйте глобальные селекторы img, body, html и так далее*/
body {
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 18px;
  height: 100%;
  min-width: 320px;
  margin: 0;
  display: flex;
  flex-direction: column;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  height: auto;
  object-fit: contain;
}


.visually-hidden {
  position: fixed;
  transform: scale(0);
}
