
// Colors

$color-text: #444444;
$secondary-color-text: #111111;
$color-subtitle: #222222;
$basic-black: #000000;
$basic-white: #ffffff;
$brand-color: #68b738;
$bg-accent-color: #f2f2f2;
$bg-accent-2-color: #eaeaea;
$color-icon: #666666;
$border-color: #e6e6e6;
$border-secondary-color: #d9d9d9;
$border-light-color: #ebebeb;
$border-accent-color: #cdcdcd;
$input-color: #e7e7e7;
$input-accent-color: #bababa;
$error-color: #ff8282;

// Viewports

$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-width-only: 767px;

//Fonts

$primary-font: "Lato", "Arial", sans-serif;
$secondary-font: "Oswald", "Arial", sans-serif;
