
.additional__title {
  @include subtitle (24px, 24px);
  margin: 0;
  padding-bottom: 36px;
  position: relative;
  width: fit-content;
  background-color: $basic-white;
  box-shadow: -20px 0 0 $basic-white, 20px 0 0 $basic-white;
}

@media (min-width: $tablet-width) {
  .additional__title {
    @include subtitle (36px, 36px);
    box-shadow: -40px 0 0 $basic-white, 40px 0 0 $basic-white;
    padding-bottom: 80px;
  }
}


.additional__title::before {
  position: absolute;
  content: "";
  top: 0.5em;
  right: 0;
  height: 2px;
  width: 100vw;
  background: $brand-color;
  box-shadow: 100vw 0 0 $brand-color;
  z-index: -1;
}

.additional__wrapper {
  display: grid;
  gap: 35px;
  padding-bottom: 35px;
}

@media (min-width: $tablet-width) {
  .additional__wrapper {
    gap: 70px;
    padding-bottom: 75px;
  }
}


@media (min-width: $desktop-width) {
  .additional__wrapper {
    grid-template-columns: 1fr 245px;
    gap: 80px;
    padding-bottom: 87px;
  }
}

.additional__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  gap: 19px;
  padding-bottom: 19px;
  border-bottom: 1px solid $border-accent-color;
}

@media (min-width: $tablet-width) {
  .additional__list {
    gap: 28px;
    padding-bottom: 28px;
  }
}

@media (min-width: $desktop-width) {
  .additional__list {
    gap: 15px;
    padding-bottom: 15px;
  }
}

.additional__item {
  display: grid;
  gap: 12px;
  padding-top: 13px;
  border-top: 1px solid $border-accent-color;
}

@media (min-width: $tablet-width) {
  .additional__item {
    padding-top: 26px;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    padding-left: 38px;
    padding-right: 38px;
  }
}

@media (min-width: $desktop-width) {
  .additional__item {
    grid-template-columns: 1fr 1fr min-content;
    padding-left: 0;
    padding-right: 0;
    padding-top: 15px;
    gap: 40px;
  }
}

.additional__subtitle {
  @include subtitle (16px, 16px);
  text-transform: uppercase;
  color: $color-subtitle;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .additional__subtitle {
    @include subtitle (20px, 20px);
  }
}

@media (min-width: $desktop-width) {
  .additional__subtitle {
    align-self: center;
  }
}

.additional__description {
  margin: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

@media (min-width: $tablet-width) {
  .additional__description {
    gap: 48px;
  }
}

.additional__text {
  line-height: 14px;
  color: $color-text;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .additional__text {
    font-size: 16px;
    line-height: 20px;
    justify-self: end;
  }
}

@media (min-width: $desktop-width) {
  .additional__text {
    align-self: center;
    justify-self: self-start;
  }
}

.additional__price {
  line-height: 14px;
  color: $color-text;
  justify-self: end;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .additional__price {
    font-size: 16px;
    line-height: 20px;
  }
}

@media (min-width: $desktop-width) {
  .additional__price {
    align-self: center;
  }
}

@media (min-width: $tablet-width) {
  .additional__button {
    grid-column: 1/-1;
  }
}

@media (min-width: $desktop-width) {
  .additional__button {
    grid-column: 3/-1;
    width: 244px;
    justify-self: end;
  }
}

.additional__action {
  background-image: url("../../images/carrying-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: content;
  display: grid;
  height: 290px;
}

@media (min-width: $tablet-width) {
  .additional__action {
    background-image: url("../../images/carrying-tablet@1x.png");
    height: 200px;
  }
}

@media (min-width: $desktop-width) {
  .additional__action {
    background-image: url("../../images/carrying-desktop@1x.webp");
    height: 288px;
    align-content: center;
  }
}

.additional__action-text {
  font-size: 16px;
  line-height: 20px;
  color: $basic-white;
  margin: 0;
  padding: 0;
  display: grid;
  gap: 48px;
  text-align: center;
  padding-left: 58px;
  padding-right: 61px;
}

@media (min-width: $tablet-width) {
  .additional__action-text {
    grid-template-columns: repeat(2, 1fr);
    gap: 246px;
    text-align: start;
    align-self: center;
  }
}

@media (min-width: $desktop-width) {
  .additional__action-text {
    grid-template-columns: 1fr;
    gap: 46px;
    text-align: center;
    align-self: self-start;
  }
}


.additional__action-text::before {
  content: "";
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 78px;
  height: 80px;
  background-image: url("../../images/icons/stack.svg#gift");
  align-self: end;
  justify-self: center;
}

@media (min-width: $tablet-width) {
  .additional__action-text::before {
    align-self: center;
    justify-self: self-end;
  }
}

@media (min-width: $desktop-width) {
  .additional__action-text::before {
    justify-self: center;
  }
}
