

.catalog__subtitle {
  @include subtitle (16px, 20px);
  text-transform: uppercase;
  color: $color-subtitle;
}

.catalog__description-title {
  font-size: 12px;
  line-height: 16px;
}

.catalog__description-text {
  font-size: 12px;
  line-height: 16px;
}

.catalog__subtitle--more {
  color: $secondary-color-text;
}

.catalog__title {
  @include subtitle (24px, 24px);
}

.catalog__subtitle--additional {
  line-height: 16px;
}

.catalog__additional {
  line-height: 14px;
}

.catalog__action {
  // background-image: url("../../images/cat-carrying@1x.jpg");
  background-color: rgba(104, 183, 56, 0.85);
  opacity: 0.85;
}

.catalog__action-text {
  font-size: 16px;
  line-height: 20px;
  color: $basic-white;
}

.catalog__action-text::before {
  content: "";
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 78px;
  height: 80px;
  background-image: url("../../images/icons/stack.svg#gift");
}
