.contacts {
  background-color: $bg-accent-color;
}


@media (min-width: $desktop-width) {
  .contacts {
    display: grid;
    background-color: $bg-accent-color;
  }
}

.contacts__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-top: 26px;
  padding-bottom: 26px;
}

@media (min-width: $tablet-width) {
  .contacts__wrapper {
    gap: 308px;
    padding: 61px 40px;
  }
}

@media (min-width: $desktop-width) {
  .contacts__wrapper {
    width: 565px;
    padding: 60px 78px 60px 80px;
    gap: 87px;
    background-color: $basic-white;
    grid-row: 1/2;
    grid-column: 1/3;
    z-index: 2;
    max-height: 199px;
    transform: translate(-337px, 95px);
  }
}


.contacts__title {
  @include subtitle (16px, 20px);
  text-transform: uppercase;
  color: $secondary-color-text;
  margin: 0;
}


@media (min-width: $tablet-width) {
  .contacts__title {
    @include subtitle (20px, 26px);
  }
}

.contacts__text {
  line-height: 20px;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .contacts__text {
    font-size: 16px;
    display: grid;
    gap: 20px;
    text-align: end;
  }
}

@media (min-width: $desktop-width) {
  .contacts__text {
    text-align: start;
  }
}

.contacts__map-iframe {
  width: 100%;
  height: 362px;
  border: none;
}

.contacts__map {
  background-image: url("../../images/location-mobile@1x.png");
  background-position: 0;
  background-repeat: no-repeat;
  width: 100%;
  height: 362px;
  background-size: cover;
}

@media (min-width: $tablet-width) {
  .contacts__map-iframe {
    height: 400px;
  }

  .contacts__map {
    background-image: url("../../images/location-tablet@1x.png");
    height: 400px;
  }
}

@media (min-width: $desktop-width) {
  .contacts__map {
    background-image: url("../../images/location-desktop@1x.png");
    grid-row: 1/2;
    grid-column: 1/3;
  }
}
