.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 15px;
}

@media (min-width: $tablet-width) {
  .copyright {
    width: 168px;
    padding-top: 0;
    padding-left: 3px;
  }
}

.copyright__link {
  text-decoration: none;
}

.copyright__text {
  font-size: 16px;
  line-height: 20px;
  color: $color-text;
}

.copyright__text:hover,
.copyright__text:focus {
  color: $color-text;
}

.copyright__text:active {
  opacity: 0.3;
}

.copyright__logo--image {
  --color: #{$color-text};
  display: flex;
  align-items: center;
  justify-content: flex-end;
  content: "";
  background-color: var(--color);
  width: 27px;
  height: 34px;
  mask: var(--bgi) no-repeat center/contain;
}

.copyright__logo {
  --bgi: url("../../images/icons/stack.svg#logo-html");
}

.copyright__logo:hover {
  --color: #{$brand-color};
}

.copyright__logo:focus {
  --color: #{$brand-color};
}

.copyright__logo:active {
  opacity: 0.3;
}
