
@media (min-width: $tablet-width) {
  .example__image {
    background-color: $bg-accent-2-color;
  }
}

@media (min-width: $desktop-width) {
  .example__wrapper {
    background-color: $bg-accent-2-color;
  }
}

.example__title {
  @include subtitle (36px, 40px);
}

.example__item--name {
  @include subtitle (24px, 24px);
}

.example__version {
  @include subtitle (14px, 20px);
  text-transform: uppercase;
}
