.header {
  padding-top: 13px;
  position: relative;
}

@media (min-width: $tablet-width) {
  .header {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}

@media (min-width: $desktop-width) {
  .header {
    padding-top: 55px;
    padding-bottom: 24px;
  }
}
