.main-nav {
  min-height: 53px;
}

@media (min-width: $tablet-width) {
  .main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .main-nav__logo-link:hover {
    opacity: 0.8;
  }

  .main-nav__logo-link:active {
    opacity: 0.6;
  }

  .main-nav__logo-image {
    display: block;
  }
}


.main-nav__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  background-color: $basic-white;
  width: 100vw;
  right: 0;
  z-index: 10;
}

@media (min-width: $tablet-width) {
  .main-nav__list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 33px;
    max-width: 520px;
    position: static;
    background-color: transparent;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__list {
    max-width: 600px;
  }
}


.main-nav__item {
  padding: 22px 15px 24px;
  text-align: center;
  position: relative;
  width: fit-content;
}

.main-nav__item::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  height: 1px;
  width: 100vw;
  background: $border-color;
  box-shadow: 100vw 0 0 $border-color;
  z-index: 1;
}

@media (min-width: $tablet-width) {
  .main-nav__item::before {
    display: none;
  }

  .main-nav__item {
    padding-top: 14px;
    padding-bottom: 12px;
    padding-left: 0;
    padding-right: 0;
  }
}


@media (min-width: $tablet-width) {
  .main-nav__item--active {
    border-bottom: 2px solid $brand-color;
  }
}

.main-nav__toggle {
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  right: 9px;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 53px;
  height: 53px;
  background-color: $basic-white;
  cursor: pointer;
  border: none;

  &:hover,
  &:active {
    background-color: $basic-white;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  // position: absolute;
  // top: 10px;
  width: 24px;
  height: 2px;
  background-color: $basic-black;
  box-shadow: 0 8px 0 0 $basic-black, 0 16px 0 0 $basic-black;
}

.main-nav--closed .main-nav__toggle:active::before {
  background-color: opacity ($basic-black, 0.3);
  box-shadow:
    0 8px 0 0 opacity ($basic-black,
    0.3),
    0 16px 0 0 opacity ($basic-black,
    0.3);
}

@media (max-width: $mobile-width-only) {
  .main-nav--closed .main-nav__item {
    display: none;

    // &--active {
    //   display: block;
    // }
  }

  // .main-nav--closed .main-nav__link--current {
  //   padding-right: 70px;
  //   padding-left: 70px;
  //   text-align: center;
  // }

  // .main-nav--opened .main-nav {
  //   position: absolute;
  //   top: 0;
  //   right: 0;
  //   left: 70px;
  //   z-index: 10;
  //   min-height: 100vh;
  //   background-color: #6a4d38;
  // }


  .main-nav--nojs .main-nav__toggle {
    display: none;
  }

  .main-nav--nojs .main-nav__list {
    position: static;
    min-height: 0;
    width: 100%;
  }

  .main-nav--nojs .main-nav__item {
    display: block;
  }

  .main-nav--nojs .main-nav__item--active {
    padding-right: 21px;
    padding-left: 21px;
    text-align: left;
  }
}

.main-nav--opened .main-nav__toggle {
  top: 0;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 35px;
    width: 24px;
    height: 1.5px;
    background-color: $basic-black;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.main-nav__link {
  font-family: $secondary-font;
  font-size: 20px;
  line-height: 20px;
  font-weight: 400;
  font-style: normal;
  color: $basic-black;
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
  display: block;

  &:hover {
    opacity: 0.6;
  }

  &:focus {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .main-nav__link {
    font-size: 18px;
    line-height: 24px;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__link {
    font-size: 20px;
    line-height: normal;
    color: $basic-white;

    &--another {
      color: $basic-black;
    }
  }
}
