.nutrition {
  padding: 20px 0;
}

.nutrition__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.nutrition__item {
  background-color: $bg-accent-color;
  min-height: 266px;
}

@media (min-width: $tablet-width) {
  .nutrition__item {
    min-height: 372px;
  }
}

@media (min-width: $desktop-width) {
  .nutrition__list {
    flex-direction: row;
  }

  .nutrition__item {
    min-height: 374px;
    min-width: 570px;
  }
}

.nutrition__item::before {
  content: "";
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin: 0 auto;
}

.nutrition__item--slim::before {
  background-image: url("../../images/icons/stack.svg#cat-back-slim");
  width: 50px;
  height: 53px;
}

.nutrition__item--pro::before {
  background-image: url("../../images/icons/stack.svg#cat-back-pro");
  width: 67px;
  height: 50px;
}

.nutrition__subtitle {
  @include subtitle (24px, 37px);
  text-transform: uppercase;
}


.nutrition__description {
  color: $color-text;
}

.nutrition__link {
  @include subtitle (16px, 16px);
  text-align: center;
  text-transform: uppercase;
  color: $basic-black;
  text-decoration: none;
  position: relative;
}

.nutrition__link::after {
  content: "";
  position: absolute;
  display: block;
  background-image: url("../../images/icons/stack.svg#arrow-program");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 32px;
  width: 10px;
  margin: 0 auto;
  transform: translate(100px, -85%);
}
