.nutrition {
  padding: 20px 0;
}

.nutrition__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (min-width: $desktop-width) {
  .nutrition__list {
    flex-direction: row;
    gap: 80px;
  }
}

.nutrition__item {
  background-color: $bg-accent-color;
  min-height: 266px;
  display: grid;
  grid-template-columns: min-content 1fr;
  padding: 24px 33px 18px 13px;

  &--pro {
    padding-top: 21px;
    padding-left: 20px;
  }
}

@media (min-width: $tablet-width) {
  .nutrition__item {
    grid-template-columns: 1fr min-content;
    min-height: 372px;
    padding: 77px 52px 53px 63px;
  }
}

@media (min-width: $desktop-width) {
  .nutrition__item {
    min-width: 570px;
    grid-template-columns: min-content 1fr;
    padding: 41px 61px 55px 52px;
  }
}

@media (min-width: $tablet-width) {
  .nutrition__item--pro {
    padding-right: 29px;
  }
}

@media (min-width: $desktop-width) {
  .nutrition__item--pro {
    padding: 47px 67px 55px 33px;
  }
}

.nutrition__item::before {
  content: "";
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .nutrition__item::before {
    grid-column: 2/-1;
    grid-row: 1/3;
    align-self: self-end;
  }
}

@media (min-width: $desktop-width) {
  .nutrition__item::before {
    grid-column: 1/2;
    grid-row: 1/2;
    align-self: self-end;
  }
}

.nutrition__item--slim::before {
  background-image: url("../../images/icons/stack.svg#cat-back-slim");
  width: 50px;
  height: 53px;
}

@media (min-width: $tablet-width) {
  .nutrition__item--slim::before {
    width: 200px;
    height: 211px;
  }
}

@media (min-width: $desktop-width) {
  .nutrition__item--slim::before {
    width: 100px;
    height: 100px;
  }
}

.nutrition__item--pro::before {
  background-image: url("../../images/icons/stack.svg#cat-back-pro");
  width: 67px;
  height: 50px;
}

@media (min-width: $tablet-width) {
  .nutrition__item--pro::before {
    background-image: url("../../images/icons/stack.svg#cat-pro-tablet");
    width: 268px;
    height: 200px;
  }
}

@media (min-width: $desktop-width) {
  .nutrition__item--pro::before {
    width: 134px;
    height: 100px;
  }
}

.nutrition__subtitle {
  @include subtitle (24px, 37px);
  text-transform: uppercase;
  margin: 0;
  align-self: center;
}

.nutrition__item--slim .nutrition__subtitle {
  padding-left: 20px;
}

@media (min-width: $tablet-width) {
  .nutrition__item--slim .nutrition__subtitle {
    padding-left: 0;
  }
}

@media (min-width: $desktop-width) {
  .nutrition__item--slim .nutrition__subtitle {
    padding-left: 62px;
  }
}

.nutrition__item--pro .nutrition__subtitle {
  padding-left: 11px;
}

@media (min-width: $tablet-width) {
  .nutrition__subtitle {
    font-size: 36px;
    align-self: self-start;
    padding-left: 0;
  }

  .nutrition__item--pro .nutrition__subtitle {
    padding-left: 0;
  }
}

@media (min-width: $desktop-width) {
  .nutrition__subtitle {
    align-self: center;
  }

  .nutrition__item--pro .nutrition__subtitle {
    padding-left: 47px;
  }
}

.nutrition__description {
  color: $color-text;
  grid-column: 1/-1;
  margin: 0;
  border-bottom: 1px solid $border-secondary-color;
  padding-top: 22px;
  padding-bottom: 23px;
}

@media (min-width: $tablet-width) {
  .nutrition__description {
    font-size: 16px;
    line-height: 24px;
    color: $basic-black;
    grid-column: 1/2;
    max-width: 340px;
    border-bottom: none;
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .nutrition__description {
    grid-column: 1/-1;
    max-width: 457px;
    padding-top: 39px;
    padding-bottom: 2px;
  }
}

.nutrition__link {
  @include subtitle (16px, 16px);
  text-transform: uppercase;
  color: $basic-black;
  text-decoration: none;
  position: relative;
  grid-column: 1/-1;
  align-self: self-end;
  padding-top: 15px;

  &::after {
    content: "";
    position: absolute;
    background-image: url("../../images/icons/stack.svg#arrow-hover");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    width: 32px;
    height: 10px;
    top: 50%;
    transform: translate(8px, 3px);
    background-position-x: -8px;
  }

  &:hover::after {
    background-position-x: 0;
  }
}

.nutrition__link:active {
  opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .nutrition__link {
    padding-top: 0;
    align-self: self-start;
    font-size: 20px;
    line-height: normal;

    &::after {
      transform: translate(8px, -50%);
      background-position-x: -8px;
    }

    &:hover::after {
      background-position-x: 0;
    }
  }
}

@media (min-width: $desktop-width) {
  .nutrition__link {
    align-self: self-end;
  }
}
