.nutrition {
  //
}

.nutrition__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.nutrition__item {
  background-color: $bg-accent-color;
}

.nutrition__subtitle {
  @include subtitle (24px, 37px);
  text-transform: uppercase;
}


.nutrition__description {
  color: $color-text;
}

.nutrition__link {
  @include subtitle (16px, 16px);
  text-align: center;
  text-transform: uppercase;
  color: $basic-black;
  text-decoration: none;
}
