.page {
  height: 100%;
}

.page__container {
  width: 280px;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .page__container {
    width: 708px;
  }
}

@media (min-width: $desktop-width) {
  .page__container {
    width: 1220px;
  }
}

.page__body--hero {
  position: relative;
}

@media (min-width: $desktop-width) {
  .page__body--hero::before {
    content: "";
    position: absolute;
    width: 50%;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -2;
    background-color: #62a53b;
    background-image: url("../../images/hero-bg-desktop@1x.jpg");
    background-repeat: no-repeat;
    height: 694px;
  }
}

@media (min-width: $desktop-width) {
  .page__body--hero .main-nav__item--active {
    border-bottom: 2px solid $basic-white;
  }
}
