.program-form {

  //
}

.program-form__desc {
  @include subtitle (16px, 18px);
  text-transform: uppercase;
  color: $color-text;
}

.program-form__input {
  @include subtitle (16px, 18px);
  text-transform: uppercase;
  color: $color-text;
}

.program-form__title {
  @include subtitle (24px, 26px);
}
