.social {
  padding-top: 11px;
  padding-bottom: 11px;
  min-width: 280px;
  border-top: 1px solid $border-secondary-color;
  border-bottom: 1px solid $border-secondary-color;
}

@media (min-width: $tablet-width) {
  .social {
    border: none;
  }
}

@media (min-width: $desktop-width) {
  .social {
    padding-top: 0;
    padding-bottom: 0;
    min-width: min-content;
  }
}

.social__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px;
}

.social__link {
  text-decoration: none;
  --color: #{$color-icon};
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 40px;
  height: 40px;
}

.social__link::before {
  content: "";
  display: block;
  width: 28px;
  height: 22px;
  background-color: var(--color);
  mask-image: var(--bgi);
  mask-repeat: no-repeat;
  mask-position: center;
}

.social__link:hover {
  --color: #{$brand-color};
}

.social__link:active {
  opacity: 0.3;
}

.social__link--vk {
  --bgi: url("../../images/icons/stack.svg#vkontakte");
}

.social__link--yt {
  --bgi: url("../../images/icons/stack.svg#youtube");
}

.social__link--tg {
  --bgi: url("../../images/icons/stack.svg#telegram");
}
